In [24]:
import pandas as pd

airports = pd.read_csv('airports.csv')
weathers = pd.read_csv('weather.csv')
airlines = pd.read_csv('airlines.csv')
planes = pd.read_csv('planes.csv')

In [25]:
# This sorts the airports by the lat colume which tells us the most north airport
airports.sort_values(by=["lat"], ascending=False)

,faa,name,lat,lon,alt,tz,dst,tzone
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5,A,NaN
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9,A,America/Anchorage
110,AIN,Wainwright Airport,70.638056,-159.994722,41,-9,A,America/Anchorage
708,K03,Wainwright As,70.613378,-159.860350,35,-9,A,America/Anchorage
152,ATK,Atqasuk Edward Burnell Sr Memorial Airport,70.467300,-157.436000,96,-9,A,America/Anchorage
...,...,...,...,...,...,...,...,...
930,MUE,Waimea Kohala,20.001328,-155.668108,2671,-10,A,Pacific/Honolulu
1403,WKL,Waikoloa Heliport,19.913600,-155.864000,109,-10,N,Pacific/Honolulu
231,BSF,Bradshaw Aaf,19.760056,-155.553717,6190,-10,A,Pacific/Honolulu
734,KOA,Kona Intl At Keahole,19.738767,-156.045631,47,-10,N,Pacific/Honolulu
679,ITO,Hilo Intl,19.721375,-155.048469,38,-10,N,Pacific/Honolulu

In [26]:
airports.sort_values(by=["lon"], ascending=False)

,faa,name,lat,lon,alt,tz,dst,tzone
1290,SYA,Eareckson As,52.712275,174.113620,98,-9,A,America/Anchorage
942,MYF,Montgomery Field,32.475900,117.759000,17,8,A,Asia/Chongqing
396,DVT,Deer Valley Municipal Airport,33.411700,112.457000,1478,8,A,Asia/Chongqing
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5,A,NaN
444,EPM,Eastport Municipal Airport,44.910111,-67.012694,45,-5,A,America/New_York
...,...,...,...,...,...,...,...,...
1251,SNP,St Paul Island,57.167333,-170.220444,63,-9,A,America/Anchorage
1281,SVA,Savoonga Airport,63.686400,-170.493000,53,-9,A,America/Anchorage
522,GAM,Gambell Airport,63.766800,-171.733000,27,-9,A,America/Anchorage
112,AKB,Atka Airport,52.220278,-174.206389,56,-9,A,America/Anchorage
95,ADK,Adak Airport,51.878000,-176.646000,18,-9,A,America/Anchorage

In [30]:
weathers[(weathers["month"]==2) & (weathers["day"]==12) & (weathers["year"]==2013)].sort_values(by=["wind_gust"], ascending=False)

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
1018,EWR,2013,2,12,12,44.06,26.06,48.87,270.0,21.86482,31.07106,0.0,1012.5,10.0,2013-02-12T17:00:00Z
1019,EWR,2013,2,12,13,46.04,26.06,45.33,280.0,13.80936,31.07106,0.0,1012.3,10.0,2013-02-12T18:00:00Z
18417,LGA,2013,2,12,2,42.98,26.06,50.94,290.0,23.01560,31.07106,0.0,1007.1,10.0,2013-02-12T07:00:00Z
18421,LGA,2013,2,12,6,42.08,24.08,48.56,270.0,13.80936,28.76950,0.0,1009.4,10.0,2013-02-12T11:00:00Z
18418,LGA,2013,2,12,3,42.08,26.06,52.73,290.0,16.11092,28.76950,0.0,1007.9,10.0,2013-02-12T08:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18431,LGA,2013,2,12,16,42.98,24.08,46.91,300.0,9.20624,NaN,0.0,1010.4,10.0,2013-02-12T21:00:00Z
18435,LGA,2013,2,12,20,39.92,23.00,50.46,290.0,10.35702,NaN,0.0,1013.6,10.0,2013-02-13T01:00:00Z
18436,LGA,2013,2,12,21,39.02,21.92,49.93,310.0,10.35702,NaN,0.0,1012.8,10.0,2013-02-13T02:00:00Z
18437,LGA,2013,2,12,22,39.02,23.00,52.26,310.0,11.50780,NaN,0.0,1012.7,10.0,2013-02-13T03:00:00Z
18438,LGA,2013,2,12,23,37.94,23.00,54.51,300.0,9.20624,NaN,0.0,1013.5,10.0,2013-02-13T04:00:00Z

In [31]:
#RESULTS AND ANSWERS TO QUESTIONS

#Question 1: What is the northernmost airport in the United States?

#Answer: According to the datasets in the northern most airport is Dillant Hopkins Airport with a latitude of 72.27 while the northern most United States Airport is Wiley Post Will Rogers Memorial Airport with a latitude of 71.28

#Justification: Latitude is a measure of how close someone or something is to the north or south poles from the Equator which is the half waypoint between the 2 poles. The higher the number the further you are north or south, considering that the United States is above the Equator and occupies between 18.55 and 71.30 latitude, Wiley Post Will Rogers Memorial Airport is the northern most airport.


#Question 2: What is the easternmost airport in the United States?

#Answer: According to the datasets the eastern most airport is Eareckson As Airport with a Longitude of 174.11.

#Justification: Longitude is a measure of angular distance someone or something  is east or west  of the Prime Meridian. Which is  0 and 180 on a latitude and longitude map. When measuring how far east or west a place is you either move to the left or right of the prime meridian, for east to move to the right and for west to move to the left, starting at 0 and moving up until you reach the point and measure it. With that said the eastern most airport is Eareckson As Airport being 174.11 east of the prime meridian.


#Question 3: On February 12th, 2013, which New York area airport had the windiest weather?

#Answer: According to the datasets the windiest airport in NY on 2/12/2013 was LGA or LaGuardia Airport

#Justification: EWR is located in Newark, New Jersey (NJ) not New York (NY). Therefore while it had high wind gust at the same level of LGA, the location disqualifies it.